<div class="row">
  <div class="page-header title">
    <h1>New lines</h1>
  </div>
</div>

<div class="row">
  <div class="span8 offset2 center-col">
    <div class="sp8-content">
      <%= render 'form' %>
      <div style="margin: auto; float:none; width: 220px;">
        <%= link_to 'Back', lines_path %>
      </div>
    </div>
  </div>
</div>
