<div class="row">
  <div class="span6 offset3">
    <div class="page-header title">
      <h1>Dashboard
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <ul>
      <li>
        <h4><%= link_to 'Manage Tasks', tasks_path %></h4>
      </li>
    </ul>
  </div>
</div>