<div class="row">
  <div class="span6 offset3">
    <div class="page-header title">
      <h1><%= Medium.find_by_url(params[:medium_id]).title %><br>
        <small class="blog-subtitle">
          Edit audio
        </small>
      </h1>
    </div>
  </div>
</div>


<%= render :partial => 'form', :locals => {:p => medium_audio_path} %>
<%= render 'shared/music_upload' %>
