<% content_for :head do %>
<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<% end %>

<div class="row"><div id="selection">
	<div id="text" class="selection"></div>
	<div id="source" class="reference"></div>
</div>
</div>