<% content_for :head do %>
<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<% end %>

<div id="banner" class="span9 offset2">
  <div id="text" class="selection">
    <div class="row">
      <div id="source" class="reference"></div>
    </div>
    <div class="row">
      <div id="controls">
        <!--<img id="pause" class="controlbutton" src="/assets/pause.png"></img>
        <img id="play" class="controlbutton" src="/assets/play.png"></img>-->
        <img id="playpause" class="controlbutton" src="/assets/pause.png"></img>
        <img id="refresh" src="/assets/refresh.png" class="controlbutton"></img>
      </div>
    </div>
  </div>
</div>