<% content_for :head do %>
<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<% end %>

<div id="banner" class="span9 offset2">
  <div id="text" class="selection">
    <div class="row">
      <div id="source" class="reference"></div>
    </div>
    <div class="row">
      <div id="controls">
        <i id="playpause" class="icon-pause controlbutton"></i>
        <i id="refresh" class="icon-refresh controlbutton"></i>
      </div>
    </div>
  </div>
</div>