<% content_for :head do %>
<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<% end %>
<div id="banner" class="row">
  <div class="span4 offset4 btn-group controls">
    <button class="btn refresh" id="backBtn"><i class="icon-step-backward muted"></i></button>
    <button class="btn" id="playpause"><i class="icon-pause muted" id="playpauseicon"></i></button>
    <button class="btn refresh" id="nextBtn"><i class="icon-forward muted"></i></button>
    <button class="btn" id="context"><i class="icon-book muted"></i></button>
  </div>
  <div id="text" class="span9 offset2 selection">
    <div class="row">
      <div id="source" class="reference"></div>
    </div>
  </div>
</div>
