		 <div class="hero-unit">
        <div class="row">
				<div class="span8">
					<h2>The Light of the Supreme</h2><br/>
					<p>Savitri who shall give us the truth and the things of the truth <br/>
					shall be the driving motivation behind this effort.</p>
			   <!-- <p><a class="btn primary large">Learn more &raquo;</a></p>-->
				</div>
			   <div class="span2">
				<%= image_tag "aurobindo.png" %>
			   </div>
		</div>
    </div> <!-- /container -->
		<div class="row">
			<div class="span4">
				<h4>Love in the wilderness met Savitri</h4><br/>
				<p>A stranger on the sorrowful roads of Time,<br/>
				   Immortal under the yoke of death and fate,<br/>
				   A sacrificant of the bliss and pain of the spheres,<br/>
				   Love in the wilderness met Savitri.</p>
				   <p><a class="btn btn-small" href="editpost.html">Read more &raquo;</a></p>
			</div>
			<div class="span4">
				<h4>To meet the ancient Mother in her groves</h4><br/>
				<p>Out of the ignorant eager toil of the years <br/>
				 Abandoning man's loud drama he had come<br/>
				 Led by the wisdom of an adverse Fate<br/>
				 To meet the ancient Mother in her groves.</p>
				 <p><a class="btn btn-small">Read more &raquo;</a></p>
			</div>
				<div class="span4">
				<h4>For flashing of the splendid sword of God</h4><br/>
				<p>O life, the life beneath the wheeling stars <br/>
				For victory in the tournament with death,<br/>
				For bending of the fi erce and diffi cult bow,<br/>
				For fl ashing of the splendid sword of God!</p>
				<p><a class="btn btn-small">Read more &raquo;</a></p>
			</div>
		</div>
		<div align="center">
			<footer>
				<p>&copy; NM 2012</p>
		  </footer>
	  </div>