# Create file at root of project folder named as .env.#{Rails.env}
# Add following environment variables

TWITTER_KEY       = 'QptKbdK...'
TWITTER_SECRET    = 'VljJGZrnTO3LUdNi...'
DATABASE_TYPE     = 'postgresql'
DATABASE_NAME     = 'savitri_development'
DATABASE_POOL_SIZE = 10
DATABASE_USERNAME = 'postgres'
DATABASE_PASSWORD = 'password'
SMTP_ADDRESS = 'email-smtp....'
SMTP_USER = 'AKI....'
SMTP_PASSWORD = 'Aj....'
DISQUS_SECRET_KEY = 'Ub....'
DISQUS_PUBLIC_KEY = 'WK....'
DISQUS_FORUM = 'sa....'
SECRET_TOKEN = '....'
EC2_USER = '....'
EC2_DOMAIN = '55.55.55.55'
EC2_APPLICATION = "my_app"
EC2_REPOSITORY = "git link"
MAILER_HOST = 'localhost:3000'
AWS_ACCESS_KEY = 'AK....'
AWS_SECRET_KEY = 'y2....'
