 <!-- Header and Nav -->

  <div class="row">
    <div class="span1">
      &nbsp;
    </div>
      <div class="span9">
        <h3>Postings on Savitri from the Inter-Webs</h3>
      </div> <!-- End of 9 area -->
  </div> <!-- End of Row -->

<div class="row">
    <div class="span1">
      &nbsp;
    </div>
      <div class="span9">
           <div class="row panel">
                      <div class="span1">
                          <img src="http://placehold.it/100x100&text=[img]" />
                      </div>
                      <div class="span6">
                        <h5><a href="#"><i>Prashant Tiwari</i></h5> just posted about <a href="#">The Enlightenment</a> from <b>Book 5 Chapter 2</b>
                      </div>
                  </div> <!-- Entry Ends -->
                  <div class="row panel">
                      
                      <div class="span6">
                        <h5><a href="#"><i>Prashant Tiwari</i></h5> just posted about <a href="#">The Enlightenment</a> from <b>Book 5 Chapter 2</b>
                      </div>
                  </div> <!-- Entry Ends -->
                  <div class="row panel">
                      <div class="span1">
                          <img src="http://placehold.it/100x100&text=[img]" />
                      </div>
                      <div class="span6">
                        <h5><a href="#"><i>Prashant Tiwari</i></h5> just posted about <a href="#">The Enlightenment</a> from <b>Book 5 Chapter 2</b>
                      </div>
                  </div> <!-- Entry Ends -->
                  <div class="row panel">
                      <div class="span6">
                        <h5><a href="#"><i>Prashant Tiwari</i></h5> just posted about <a href="#">The Enlightenment</a> from <b>Book 5 Chapter 2</b>
                      </div>
                  </div> <!-- Entry Ends -->
      </div> <!-- End of 9 area -->
      <div class="span2">
        Multimedia from Inter-Webs
         <p><img src="http://placehold.it/100x100&text=[img]" /></p>
          <p><img src="http://placehold.it/100x100&text=[img]" /></p>
           <p><img src="http://placehold.it/100x100&text=[img]" /></p>
      </div>
  </div> <!-- End of Row -->
















