<div class="form-actions">
  <h5 class="author">
    <% user = User.find(comment.user_id) %>
    <%= link_to user.name , profile_path(user), {:class => "overrideanchor"} %> on <%= comment.updated_at.strftime("%a, %b %d %Y at %l:%M %p") %> said:
  </h5>
  <p>
    <%= comment.body %>
  </p>
  <span style="float:right">
    <% if can? :destroy, comment %>
    	<%= link_to 'Delete', [comment.post, comment], {:class => "overrideinheritanchor"},
    	:confirm => 'Are you sure?',
    	:method => :delete %>  
    <% end %>
  </span>
</div>
