
<div class="form-actions">

<p>
  <b>Commenter:</b>
  <%  user = User.find(comment.user_id) %>
  <%=link_to user.name , profile_path(user) %>
</p>
 
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>


<% if can? :destroy, comment %>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>  
  </div>
<% end %>
