<% if params[:sbook].blank? ^ params[:lbook].blank? %>
<% if params[:canto].blank? %>
	
<h5 class="left-filter">Canto</h5>
<% rows = Array.new %>
	<ul class="facet">
	<% for row in @search.facet(:canto).rows.each do%>
		<% rows << row.value.to_i %>
	<% end %>
	<% rows.sort! %>
	</ul>
  <% links = Hash.new %>
	<% for n in rows.each %>
		<% links[n] = search_path(:q => params[:q], :canto => n, :lbook => params[:lbook], :section => params[:section], :sbook => params[:sbook],:length=>params[:length]) %>
	<% end %>
	<%= select_tag "canto", options_for_select(links.keys.each_with_index.map {|name, index| [name,links[name]]}), :class=>"span2",:onChange=>"window.document.location.href=this.options[this.selectedIndex].value;", :prompt => 'Select Canto' %>
<% end %>
<% end %>

