<% if  params[:posted].blank? %>
<h5 class="left-filter">Month/Year posted </h5>
<% rows = Array.new %>
	<ul class="facet">
	<% for row in @search.facet(:posted).rows.each do%>
		<% rows << row.value %>
	<% end %>
	<% rows.sort_by!{ |k| Date.strptime(k,"%b %Y") }.reverse! %>
	</ul>
	<% links = Hash.new %>
	<% for n in rows.each %>
		<% links[n] = search_path(:q => params[:q],:author => params[:author],:posted => n) %>
	<% end %>
	<%= select_tag "postedofsentence", options_for_select(links.keys.each_with_index.map {|name, index| [name,links[name]]}), :class=>"span2",:onChange=>"window.document.location.href=this.options[this.selectedIndex].value;", :prompt => 'Select Posted'%>

<% end %>
