<% if params[:sbook].blank? %>
<h5 class="left-filter">Book</h5>
<% rows = Array.new %>
	<ul class="facet">
	<% for row in @search.facet(:sbook).rows.each do%>
		<% rows << row.value.to_i %>
	<% end %>
	<% rows.sort! %>
	</ul>
	<% links = Hash.new %>
	<% for n in rows.each %>
		<% links[n] = search_path(:q => params[:q], :sbook => n,:length => params[:length], :canto => params[:canto], :section => params[:section]) %>
	<% end %>
	<%= select_tag "sbook", options_for_select(links.keys.each_with_index.map {|name, index| [name,links[name]]}), :class=>"span2",:onChange=>"window.document.location.href=this.options[this.selectedIndex].value;" , :prompt => 'Select Book' %>
<% end %>
