<%= form_tag("/search/", :method => "get", :class=>"form-horizontal") do  %>
  <%= text_field_tag :q, params[:q] ,:placeholder=>"Search here...", :class=>"search-box span5", :id=>"query" %>
  <button type="submit", class="span1 search-button">→</button>
<% end %>