<%- model_class = User -%>

<div class="row">
  <div class="span6 offset3">
    <div class="page-header title">
      <h1>
        <%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %>
      </h1>
    </div>
  </div>
</div>

<%= render :partial => 'form' %>
