<% if user_signed_in? %>
	&bull;
  <% if current_user.following? blog %>
    <%= link_to "Unfollow", unfollow_blog_path(blog_id: blog.id), :method => :delete, :remote => true %>
    <div><em>You will receive email notifications for all activity <%= blog.title %>.</em></div>
  <% else %>
    <%= link_to "Follow",follow_blog_path(blog_id: blog.id), :method => :post, :remote => true %>
    <div><em>You are not following <%= blog.title %>.</em></div>
  <% end %>
<% end %>