<% if user_signed_in? %>
  <span class="muted">&bull;</span>
  <% if current_user.following? blog %>
    <%= link_to "Unfollow", unfollow_blog_path(blog_id: blog.id), :method => :delete, :remote => true, :class => 'muted' %>
    <div><em>You will receive email notifications for all activity on <%= blog.title %>.</em></div>
  <% else %>
    <%= link_to "Follow",follow_blog_path(blog_id: blog.id), :method => :post, :remote => true, :class => 'muted' %>
    <div><em>You are not following <%= blog.title %>.</em></div>
  <% end %>
<% end %>