<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= (@sender.name.blank? ? @sender.username : @sender.name) %> has invited you to post at <%= link_to @blog.title, blog_posts_path(@blog) %>.
    </p>
  </body>
</html>
