<%- model_class = Book -%>
<div class="row">
  <div class="page-header title">
    <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
  </div>
</div>

<div class="row">
  <div class="span8 offset2 center-col">
    <div class="sp8-content">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
