TWITTER_KEY       : 'Qpt....'
TWITTER_SECRET    : 'Vlj....'
DATABASE_TYPE     : 'postgresql'
DATABASE_NAME     : 'savitri....'
DATABASE_POOL_SIZE : 10
DATABASE_USERNAME : 'postgres'
DATABASE_PASSWORD : '....'
SMTP_ADDRESS : 'sss....'
SMTP_USER : 'AKIAISEE6SCUN4JG7AYQ'
SMTP_PASSWORD : 'Aj7....'
DISQUS_SECRET_KEY : 'xzg....'
DISQUS_PUBLIC_KEY : 'Alf....'
DISQUS_FORUM : '....'
SECRET_TOKEN : '2b....'
EC2_USER : 'ec....'
EC2_DOMAIN : '54.....'
EC2_APPLICATION : '....'
EC2_REPOSITORY : '....'
MAILER_HOST : 'localhost:3000'
AWS_ACCESS_KEY : 'AKI....'
AWS_SECRET_KEY : 'y2z....'
