<div class="span4">
</div>
<div class="span5">
<h1>404. Not Found.</h1>
<% if @exception %>
  <p><%= @exception.message %></p>
<% else %>
  <p>Couldn't find the page you were looking for.</p>
<% end %>
<hr/>
<p><i>Nothing he found to satisfy his heart; <br/>
A tireless wandering sought and could not cease.</i><a href="/read/32.6">||32.6||</a></p>
</div>
<div class="span3">
</div>
