<div class="span4">
</div>
<div class="span5">
	<h1>500. Internal Server Error.</h1>
	  <p>Contact the site administrator. [admin at savitri dot in].</p>
	<hr/>
	<p><i>I make even sin and error stepping stones <br/>
	And all experience a long march towards Light.</i><a href="/read/124.11">||124.11||</a></p>
</div>
<div class="span3">
</div>