<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>
      <% unless @sender.name.blank? %>
        <%= @sender.name %>
      <% else %>
        <%= @sender.username %>
      <% end %> has given access for add new posts to <%= link_to @blog.title, new_blog_post_url(@blog) %>.
    </h4>
  </body>
</html>
