/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navicon {
  padding-right: 5px;
}

.top {
  margin-top: 7%;
  padding-bottom: 6%;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

/*article div ol li,
div ol li {
  font-family: "ITC Garamond W01 Light";
}

blockquote p,
blockquote.quotable,
blockquote.quotable p {
  font-family: 'AvenirNextLTW01-Italic';
}*/
