/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a#bk1,
li#leftnav,
li#leftnav a {
  font-family: 'Futura W01 Light';
}

a.brand,
a.dropdown-toggle,
div.readsavitri,
ul li a,
ul.dropdown-menu li a,
ul.nav li a {
  font-family: 'AvenirNextLTW01-Regular';
}

article div ol li,
div ol li {
  font-family: "ITC Garamond W01 Light";
}

blockquote p,
blockquote.quotable,
blockquote.quotable p {
  font-family: 'AvenirNextLTW01-Italic';
}

h1,
h2,
h3,
h4,
h5,
h6,
li.dropdown,
ul.dropdown-menu,
ul.nav {
  font-family: 'Futura W01 Medium';
}