/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require redactor-rails
 *= require_tree .
 */
 .sav-content p, .sav-content ul, .sav-content ol, .sav-content table, .sav-content dl, .sav-content blockquote, .sav-content pre {
 	line-height: 1.5em !important;
 	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
 	font-size: 15px !important;
 }