.carousel .carousel-control { visibility: hidden; }
p.quote {
	color: CornflowerBlue;
}
.sav-content p, .sav-content ul, .sav-content ol, .sav-content table, .sav-content dl, .sav-content blockquote, .sav-content pre {
	line-height: 1.5em !important;
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
	font-size: 15px !important;
}