// Place all the styles related to the Cantos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.readsavitri {
	font-size: 1.125em;
	line-height:1.5em;
  margin-bottom: .5em;
  font-family: AvenirNextLTW02-Regular;
  font-size: 1.125em;
  line-height: 1.5em;
}

h2 {
  font-size: 2.53em;
  line-height: 1.33em;
  margin-bottom: .67em;
  font-weight: 500;
  font-family: "Futura W01 Medium";
}
