// Place all the styles related to the Cantos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.readsavitri {
	font-family: 'Play', sans-serif;
	font-size: 15px;
	line-height:200%;
}

h2 {
	font-family: 'Courgette', cursive;
}
