// Place all the styles related to the Cantos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.readsavitri {
  font-family: AvenirNextLTW02-Regular;
  font-size: 15px;
  line-height: 200%;
}

h2 {
  font-size: 34px;
  line-height: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: "Futura W01 Medium";
}
