// Place all the styles related to the Compare controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#one{
  border-right: 1px solid #dddddd;
}

.merge-button{
  top: 20%;
  left: 85%;
  position: fixed;
}

#loading-image{
  position: fixed;
  left: 47%;
  top: 47%;
  z-index: 100000000;
}

#back-button{
  display: none;
}
