// @import font-url("http://fast.fonts.net/t/1.css?apiType=css&projectid=1add1a27-fd5a-4a23-82f9-eaf3b73d689a");

/*Myriad W01 Regular*/
@font-face {
  font-family: "myriad-pro";
  font-style: normal;
  font-weight: normal;
  src: font-url("2bd106a4-3872-4193-8627.eot?#iefix");
  src: local("☺"),
        font-url("2bd106a4-3872-4193-8627.eot?#iefix") format("eot"),
        font-url("c5b1c170-d8f7-41f9-85c2.woff") format("woff"),
        font-url("ba1ff8f6-0c27-4e7b-8be5.ttf") format("truetype"),
        font-url("a379413e-a0b8-44dc-b250.svg#a379413e-a0b8-44dc-b250-1e000e4092a4") format("svg");
}

/*Myriad W01 Bd*/
@font-face {
  font-family: "myriad-pro";
  font-style: normal;
  font-weight: bold;
  src: font-url("4f2af761-c017-4801-9aa5.eot?#iefix");
  src: local("☺"),
        font-url("4f2af761-c017-4801-9aa5.eot?#iefix") format("eot"),
        font-url("acfb7490-30f6-4bf4-a1b8.woff") format("woff"),
        font-url("5bf402e3-ba96-414e-bc7e.ttf") format("truetype"),
        font-url("c5dceae7-427a-4765-b06b.svg#c5dceae7-427a-4765-b06b-ea2eecca3434") format("svg");
}

/*Myriad W01 Lt*/
@font-face {
  font-family: "myriad-pro";
  font-style: normal;
  font-weight: 300;
  src: font-url("b3e9f984-f8ca-4650-90c3.eot?#iefix");
  src: local("☺"),
        font-url("b3e9f984-f8ca-4650-90c3.eot?#iefix") format("eot"),
        font-url("b984f4e8-e37d-4502-bead.woff") format("woff"),
        font-url("82d18baa-8811-4aa8-9338.ttf") format("truetype"),
        font-url("20e14bb9-6aec-47a9-8ef8.svg#20e14bb9-6aec-47a9-8ef8-5613bf1d6eae") format("svg");
}

/*Myriad W01 Lt Cnd It*/
@font-face{
  font-family: "myriad-pro";
  font-style: italic;
  font-weight: 300;
  src: font-url("413a5d39-49bb-4d28-a1e3.eot?#iefix");
  src: local("☺"),
        font-url("413a5d39-49bb-4d28-a1e3.eot?#iefix") format("eot"),
        font-url("f9fe1e00-e107-4a5e-8da1.woff") format("woff"),
        font-url("506360b5-4463-43df-aa65.ttf") format("truetype"),
        font-url("a6d11417-23ae-4212-aadd.svg#a6d11417-23ae-4212-aadd-e2439300f5b3") format("svg");
}

/*Myriad W01 Lt It*/
/*@font-face {
  font-family: "myriad-pro";
  font-style: italic;
  font-weight: 300;
  src: font-url("7f8bf145-43b4-4e18-8ab6.eot?#iefix");
  src: font-url("7f8bf145-43b4-4e18-8ab6.eot?#iefix") format("eot"),
        font-url("3efa8eef-d81a-4a5b-ba15.woff") format("woff"),
        font-url("0ac3a8d1-ea58-4bc8-b995.ttf") format("truetype"),
        font-url("f360572f-8d74-4e11-b63c.svg#f360572f-8d74-4e11-b63c-91a55e17c82d") format("svg");
}*/

/*Minion Pro 1167271*/
@font-face {
  font-family: "minion-pro";
  font-style: normal;
  font-weight: normal;
  src: font-url("21992a03-cbc3-4164-9aa0.eot?#iefix");
  src: local("☺"),
        font-url("21992a03-cbc3-4164-9aa0.eot?#iefix") format("eot"),
        font-url("932ab68d-36f6-478a-8a9e.woff") format("woff"),
        font-url("c6b12398-2c47-4601-b9bc.ttf") format("truetype"),
        font-url("24bd8306-cad7-4cbb-af99.svg#24bd8306-cad7-4cbb-af99-30520459a784") format("svg");
}

/*Minion Pro 1166555*/
@font-face {
  font-family: "minion-pro";
  font-style: normal;
  font-weight: bold;
  src: font-url("71beeba1-47c9-4175-963f.eot?#iefix");
  src: local("☺"),
        font-url("71beeba1-47c9-4175-963f.eot?#iefix") format("eot"),
        font-url("306d23c3-a869-4ff0-8079.woff") format("woff"),
        font-url("8fed3bc1-bbe8-4025-ba44.ttf") format("truetype"),
        font-url("883a105b-e857-4a51-9031.svg#883a105b-e857-4a51-9031-415b11d29c8c") format("svg");
}

/*Minion Pro 1167263*/
@font-face {
  font-family: "minion-pro";
  font-style: italic;
  font-weight: normal;
  src: font-url("581e6942-ea66-4f9a-90a2.eot?#iefix");
  src: local("☺"),
        font-url("581e6942-ea66-4f9a-90a2.eot?#iefix") format("eot"),
        font-url("a023a069-1e39-431f-aa1d.woff") format("woff"),
        font-url("272ddfdd-e21c-4949-bb23.ttf") format("truetype"),
        font-url("053df916-a2a4-406d-9ee3.svg#053df916-a2a4-406d-9ee3-f5b49a3932d5") format("svg");
}

/*Minion Pro 1167257*/
@font-face {
  font-family: "minion-pro";
  font-style: italic;
  font-weight: bold;
  src: font-url("0068a44a-1175-4192-a1ab.eot?#iefix");
  src: local("☺"),
        font-url("0068a44a-1175-4192-a1ab.eot?#iefix") format("eot"),
        font-url("4d4a03c4-b2c0-407e-b077.woff") format("woff"),
        font-url("e42bbb2a-346a-49a7-980a.ttf") format("truetype"),
        font-url("f8765d61-c5cc-49c7-aaef.svg#f8765d61-c5cc-49c7-aaef-64115f692e90") format("svg");
}


/*Rage Italic W01*/
@font-face {
  font-family: "rage";
  src: font-url("da1464f4-1a39-4322-898c-c092ac.eot?#iefix");
  src: local("☺"),
        font-url("da1464f4-1a39-4322-898c.eot?#iefix") format("eot"),
        font-url("545ef4b0-79ac-49bd-9582.woff") format("woff"),
        font-url("48007d38-01d4-4101-a599.ttf") format("truetype"),
        font-url("8ed19055-4c65-4f9c-83dc.svg#8ed19055-4c65-4f9c-83dc-a14ece2c196d") format("svg");
}
