// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header.title {
  text-align: center;
}

.blog-subtitle {
  font-family: "Minion Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
  -moz-font-feature-settings : 'liga= 1,onum= 1,pnum= 1','calt=0';
  -moz-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  -webkit-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  -ms-font-feature-settings : 'liga= 1,onum= 1,pnum= 1','calt=0';
  -o-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
}

.author {
  font-family: "Minion Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 120%;
  color: #999999;
  text-decoration: none;
  -moz-font-feature-settings : 'liga= 1,onum= 1,pnum= 1','calt=0';
  -moz-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  -webkit-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  -ms-font-feature-settings : 'liga= 1,onum= 1,pnum= 1','calt=0';
  -o-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
}

.blog-author {
  @extend .author;
  margin-top: 2%;
  margin-bottom: 5%;
}

.comment-author {
  margin-top: 2%;
  margin-bottom: 2%;
}

.overrideanchor {
  font-family: "Minion Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-decoration: underline !important;
  text-decoration: none;
  -moz-font-feature-settings : 'liga= 1,onum= 1,pnum= 1','calt=0';
  -moz-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  -webkit-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  -ms-font-feature-settings : 'liga= 1,onum= 1,pnum= 1','calt=0';
  -o-font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
  font-feature-settings : "liga" 1,"onum" 1,"pnum" 1,"calt" 0;
}

.overrideinheritanchor {
  font-family: inherit;
  text-decoration: underline !important;
}

.overrideanchor:hover,
.overrideinheritanchor:hover {
  text-decoration: none !important;
}

article {
  padding-bottom: 20px;
  border-bottom: 2px dotted #eee;
}

.snippet {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dotted #eee;
}

.audio-snippet {
  @extend .snippet;
}

#comments {
  padding-top: 55px;
  margin-top: -55px;
  padding-bottom: 20px;
  display: inline-block;
}

.comments {
  padding-top: 40px;
}

.comment {
  padding: 19px 0px 20px;
  border-top: 1px solid #eee;
}

.sidebar-title {
  text-align: center;
}

.tag {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius:0px;
}

.tags {
  padding-top: 20px;
}

.audio-tags {
  margin-top: 20px;
}

/*.comment:nth-child(odd) {
  background-color: #f9f9f9;
}*/

.table td, .table th {
    border: none;
}

table.table.table-condensed {
    border: none;
}

.modal { left: 50%; margin-left: -300px; }

/* Panels ---------------------- */

.panel { background:transparent; border: none; margin: 0 0 22px 0; padding: 10px; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
.panel.callout { background: #2ba6cb; color: #fff; border-color: #2284a1; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff; }
.panel.callout .button { background: white; border: none; color: #2ba6cb; text-shadow: none; }
.panel.callout .button:hover, .panel.callout .button:focus { background: rgba(255, 255, 255, 0.8); }
.panel.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

 
.listi{
  list-style:none;
}

.ltag{
    list-style: none;
    padding-left: 15px;
    margin-top:5px;
}

.textin{
    position: relative;
    left: 0;
    top: 0px;
    margin-left: 0;
    opacity: 0;
    z-index: -999;
    cursor: pointer;
}

.file{
    padding-left: 16px;
    // width: 180px;
}
    
.textin + ol> li { display: none; margin-left: 0px !important; padding-left: 0px; }
    
.textin + ol{
    background: url(collapsed.gif) 40px -2px no-repeat;
    background-position: left top;
    margin: -42px 0 1px 0px;
    padding: 1.963em 0 1px 40px;
}

.textin:checked + ol{
    background: url(expanded.gif) 40px -2px no-repeat;
    background-position: left top;
    padding: 20px 0 0 12px;
}
    
.textin:checked + ol > li { display: block; margin: 7px 0 0.125em;}
.textin:checked + ol > li:last-child { margin: 0 0 0 0.090em;}

.subfolder{
    padding-top:5px;
}

.btn {
  border-radius: 0;
  background:#fff;
}

.pagination ul > li:last-child > a{
  border-radius:0;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
  border-left-width: 1px;
  border-radius:0px;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a351), to(#51a351));
  background-color: #51a351;
  border: none;
}

.btn-danger {
  border: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#bd362f));
}

.btn-warning {
  border:none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#f89406));
}

.btn-info {
  border:none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#49afcd), to(#49afcd));
}

textarea {
  border-radius: 0;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  
  border-radius: 0;
}

.btn-group > .btn + .btn {
  border-radius: 0;
  }

td, th {
  padding: 5px 8px;
  border: solid 1px #cccccc;
  border-radius:0px;
}

.well {
   border-radius: 0;
}

.table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
  border-top-left-radius: 0px;
}

.table-bordered {
  border-radius: 0px;
}

.table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
  border-bottom-left-radius: 0px;
}

 
.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child {
  border-bottom-right-radius: 0px;
}

.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
  border-top-right-radius: 0px;
}

.alert {
  border-radius: 0px;
}

iframe {  
    width:100% !important;
    height: normal;
    overflow:hidden;
}

.video {padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}

.video iframe, .video object, .video embed {top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.entry-content img, .entry-content iframe, .entry-content object, .entry-content embed {
  max-width: 100%;
}

#tag_cloud {
  text-align: center;
  color: #A19FA0;
  line-height: 1.8em;
  .t {font-size: 1em};
  .s {font-size: 1.3em};
  .m {font-size: 1.6em};
  .l {
    font-size: 1.9em;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
  };
}

.tag-cloud {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: underline !important;
}

.tag-cloud:hover {
  text-decoration: none !important;
}

.right-sidebar {
  margin-top: 20px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
