// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  text-align: center;
}

.blog-subtitle {
  font-family: "Kepler W01 Lt It", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.author {
  font-family: "Kepler W01 Lt It", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120%;
  color: #999999;
}

.blog-author {
  @extend .author;
  margin-top: 2%;
  margin-bottom: 5%;
}

.comment-author {
  margin-top: 2%;
  margin-bottom: 2%;
}

.overrideanchor {
  font-family: "Kepler W01 Lt It", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: underline !important;
}

.overrideinheritanchor {
  font-family: inherit;
  text-decoration: underline !important;
}

.overrideanchor:hover,
.overrideinheritanchor:hover {
  text-decoration: none !important;
}

article {
  padding-bottom: 20px;
  border-bottom: 2px dotted #eee;
}

.snippet {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dotted #eee;
}

#comments {
  padding-top: 55px;
  margin-top: -55px;
  padding-bottom: 20px;
  display: inline-block;
}

.comments {
  padding-top: 40px;
}

.comment {
  padding: 19px 0px 20px;
  border-top: 1px solid #eee;
}

.sidebar-title {
  text-align: center;
}

.tag {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tags {
  padding-top: 20px;
}

/*.comment:nth-child(odd) {
  background-color: #f9f9f9;
}*/

.table td, .table th {
    border: none;
}

table.table.table-condensed {
    border: none;
}

.modal { left: 50%; margin-left: -300px; }

/* Panels ---------------------- */

.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
.panel.callout { background: #2ba6cb; color: #fff; border-color: #2284a1; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff; }
.panel.callout .button { background: white; border: none; color: #2ba6cb; text-shadow: none; }
.panel.callout .button:hover, .panel.callout .button:focus { background: rgba(255, 255, 255, 0.8); }
.panel.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }