// Place all the styles related to the read controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.readsavitri p{
//font-family: 'Play', sans-serif;
//font-size: 15px;
//line-height: 20px;
//}

//h2 {
//	font-family: 'Courgette', cursive;
//}

//.apiparam:before {
//	content: "||";
//}

//.apiparam:after {
//	content: "||";
//}

.apiparam{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

h1 {
    margin-bottom: 25px;
    font-weight: 500;
    font-style: normal;
    font-size: 34px;
    line-height: 50px;
    font-family: 'Futura W01 Medium';
}

h2 {
    line-height: 25px;
    margin-bottom: 0.8em;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Futura W01 Medium';
}

h4 {
    font-family: 'ITC Garamond W01 Book';
    margin-bottom: 1em;
    font-size: 18px;
}

p {
    margin-bottom: 1em;
    font-family: AvenirNextLTW02-Regular;
    font-size: 16px;
}