div#selection {
	margin-left: 300px;
	margin-top: 50px;
	line-height: 60px;
}

div.selection {
	font-family: 'Satisfy', cursive;
	font-size: 36px;
	text-rendering: optimizeLegibility; /*[1]*/
}


div.reference {
	font-family: Georgia, serif;
	font-size: 22px;
	padding-left: 500px;
	margin-top: -30px;
}

blockquote {
  padding: 10px 10px 10px 50px !important;
  border-left: 1px solid #eeeeee !important;
  line-height: 60px;
}