#banner {
  font-size: 275%;
  margin-top: 15px;

  .controls {
    text-align: center;
    vertical-align: middle;

    .btn {
      min-width: 40px;
    }
  }

  #display {
    font-family: 'Verdana', cursive;
    font-size: 70%;
    line-height: 1.5em;
    margin: 0 0 0 1%;
    text-rendering: optimizeLegibility;
  }
}
.down_arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 9999;
    text-decoration: none !important;
    border: 2px solid dimgray;
    text-align: center;
    border-radius: 50%;
    padding: 7px 16px;
    color: dimgray !important;
  }

i.growShrink:hover{
  -webkit-animation: pulse 1.5s linear infinite;
  -moz-animation: pulse 1.5s alternate linear infinite;
  -o-animation: pulse 1.5s alternate linear infinite;
  animation: pulse 1.5s alternate linear infinite;
  cursor: pointer;
}

div.main{
  overflow: hidden;
  min-height: 100%;
}
.volume_button{
  position:fixed;
  border: none;
  z-index:9999999;
  background-color: white;
  display:none;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.symboldiv {
  height:100%;
  width:100%;
  -webkit-animation: rotating 180s linear infinite;
  -moz-animation: rotating 180s linear infinite;
  -ms-animation: rotating 180s linear infinite;
  animation: rotating 180s linear infinite;
}
img.mother_symbol{
  position: fixed;
  /*Rotate circles*/
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  /*ZoomInOut*/
  /*-webkit-animation: zoomInOut 10s linear infinite alternate;
  -moz-animation: zoomInOut 10s linear infinite alternate;
  animation: zoomInOut 10s linear infinite alternate;
  -ms-animation: zoomInOut 10s linear infinite alternate;*/
}
#myCarousel{
  height: 100px;
}
/*Zoom in out*/
@-webkit-keyframes zoomInOut {
  from {-webkit-transform: scale(1,1) rotate(0deg); }
  to {-webkit-transform: scale(0.5,0.5) rotate(360deg);}
}
@-moz-keyframes zoomInOut {
  from {-moz-transform: scale(1,1) rotate(0deg);}
  to {-moz-transform: scale(0.5,0.5) rotate(360deg);}
}
@keyframes zoomInOut {
  from {transform: scale(1,1) rotate(0deg);}
  to {transform: scale(0.5,0.5) rotate(360deg);}
}
@-ms-keyframes zoomInOut {
  from {-ms-transform: scale(1,1) rotate(0deg);}
  to {-ms-transform: scale(0.5,0.5) rotate(360deg);}
}

/*Rotating Circles*/
@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotating {
  from{
    -moz-transform: rotate(0deg);
  }
  to{
    -moz-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@-ms-keyframes rotating {
  from{
    -ms-transform: rotate(0deg);
  }
  to{
    -ms-transform: rotate(360deg);
  }
}

#selections{
  color: white;
}

#mobile-center-images{
  width:100%;
  text-align:center;
  padding-top:25%;
  padding-bottom: 25%;
}

#myCarousel a{
  color: white;
}

.carousel-control{
  margin-top: 6%;
}
