.search-align{
  margin-top: 14px;
}

.search-button{
  width: 15%;
  margin-left:-4px !important;
  border-radius:0 5px 5px 0;
}

.search-box{
  width: 83% !important;
  float:left !important;  
  margin-left: 40px;
}

.announce{
  font-size: 20px;
  font-family: "Myriad W01 SmBd", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 15px;
}

.result-text > p {
  font-size: 18px;
  font-family: "Myriad W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ref {
  font-size: 15px;
  line-height: 18px;
  float: right;
  color: #aaa;
}

.result {
  font-size: 16px;
  padding-bottom: 16px;
  font-family: "Minion Pro 1167271", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 125%;
  line-height: 1.4em;
  word-break: hyphenate;
  margin: 0 0 10px !important;
  text-decoration: none;
  -moz-font-feature-settings : 'liga= 1,onum= 1','calt=0';
  -moz-font-feature-settings : "liga" 1,"onum" 1,"calt" 0;
  -webkit-font-feature-settings : "liga" 1,"onum" 1,"calt" 0;
  -ms-font-feature-settings : 'liga= 1,onum= 1','calt=0';
  -o-font-feature-settings : "liga" 1,"onum" 1,"calt" 0;
  font-feature-settings : "liga" 1,"onum" 1,"calt" 0;
}

.facet {
  font-size: 16px;
}

.left-filter {
  margin-top:0px;
  font-size:16px;
}
 
.filters {
  margin-bottom: 15px;
}

.filters > ul {
  margin-left: 0px; 
} 

.filters > ul > li {
  list-style: none;
  /*background: rgb(247, 247, 247);*/
}
 
@media (min-width: 150px) and (max-width: 250px){
  .search-box {
    width: 70% !important;
    float:left;
  }
  .search-button {
    margin-left:-1px !important;
    width:30%;
  }
}

@media (min-width: 251px) and (max-width: 459px){
  .search-box {
    width: 70% !important;
    float:left;
  }
  .search-button {
    margin-left:-1px !important;
    width:30%;
  }
}

@media (min-width: 461px) and (max-width: 470px){
  .search-box {
    width: 100% !important;
  }
  .search-button {
    width: 10% !important;
    margin-left:-5px !important;
    position:absolute;
    float:left;
    }
}

@media (min-width: 706px) {
  .search-box {
    width: 92% !important;
  }
  .search-button {
    width: 8% !important;
    margin-left: -1px !important;
    position: absolute;
  }

}

@media (min-width: 743px) and (max-width: 1199px){
  .search-box {
    width: 73% !important;
}
  .search-button {
    width: 10% !important;
    margin-left:-5px !important;
    position:absolute;
    float:left;
    }
}

@media (min-width: 1200px) {
  .search-box {
    width: 80% !important;
  }
  .search-button {
    width: 8% !important;
    margin-left: -1px !important;
    position: absolute;
  }
}
