.search-box {
  border-color: #369 ;
  border-radius: 0px  !important;
  height: 35px !important;
  float: left !important;
  border-color: #ccc !important;
  font-size: 16px !important;
  margin-left: 0px;
  width: 87% !important;
}

.search-button {
  font-family: "Kepler W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: -84px !important;
  height: 45px !important;
  border: 1px #000 !important;
  font-size: 35px !important;
  font-weight: bolder;
  width: 10%;
  float: right;

}

.result-text {
  width: 470px;
  padding: 0 0 0 10px;
  margin-bottom: 30px;
}

.result-text > p {
  font-size: 16px !important;
  font-family: "Myriad W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ref {
  font-size: 15px;
  line-height: 18px;
  float: right;
  color: #aaa;
}

.result {
  font-size: 16px;
  padding-bottom: 16px;
  line-height: 1.5;
}

.facet {
  font-size: 16px;
}


.left-filter {
  margin-top:0px;
  font-size:16px;
}
 

@media (min-width: 150px) and (max-width: 779px){
   .search-box {
    width: 100% !important;
  }
  .search-button {
    width: 100% !important;
    margin-left:0px !important;
    }
}

@media (min-width: 1200px) {
   .search-box {
    width: 88% !important;
  }
  .search-button {
    width: 4% !important;
    margin-left: 0px !important;
    position: absolute;
    }
}

@media (min-width: 780px) and (max-width: 1010px){
   .search-box {
    width: 82% !important;
  }
  .search-button {
    width: 5% !important;
    margin-left: 0px !important;
    position: absolute;
    }
} 



.filters {
    margin-bottom: 15px;
  } 
.filters > ul {
    margin-left: 0px; 
  } 
.filters > ul > li {
    list-style: none;
    /*background: rgb(247, 247, 247);*/
  }
