.search-box {
  border-color: #369 !important;
  border-radius: 0px !important;
  height: 30px !important;
  float: left !important;
  border-color: #ccc !important;
  font-size: 16px !important;
}

.search-button {
  margin-left: 0px !important;
  height: 40px !important;
  border: 1px #000 !important;
  font-size: 16px !important;
}


.result-text {
  width: 470px;
  padding: 0 0 0 10px;
  margin-bottom: 30px;
}

.ref {
  font-family: 'AvenirNextLTW01-Regular', arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  float: right;
  color: #aaa;
}

.result {
  font-size: 16px;
  padding-bottom: 18px;
}

.facet {
  font-size: 18px;
}