<p>Hello <%= @resource.username %>!</p>

<p>Have you visited savitri.in lately?</p>

<p>We have moved to a new platform with a brand new face and great new features. The platform is still under development, but you can start participating right away by clicking on the invite link below and migrating you account to new system in the process.</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>If you don't want to accept the invitation, please ignore this email.<br />
Your account won't be created until you access the link above and set your password.</p>
